/* 
    style.css

    includes browser rendering instructions for:
    [1] navbar (implemented as a flexbox)

*/

/**************************** BEGIN navbar ****************************/
.flex-container-nav
{
    /* init as a flex object */
    display: flex;
    /* set size */
    height: 10%;
    width: 90%;
    /* build flex objects horizontally */
    flex-direction: row;
    /* wrap elements for future mobile support */
    flex-wrap: wrap;
    /* gives all flex items an equal distance between them */
    justify-content: space-evenly;
    /* ensure flex items are aligned to the center */
    align-self: center;
    /* line-up text to the same y-axis */
    align-items: baseline;
    /* maintain a minimum gap, regardless of how small page gets */
    gap: 10% 5%;
}
/***************************** END navbar *****************************/